'name': 'Ignore'
'scopeName': 'text.ignore'
'fileTypes': [
  'gitignore'
  'npmignore'
  'coffeelintignore'
  'slugignore'
]
'patterns': [
  {
    'include': '#comment'
  }
  {
    'include': '#lines'
  }
]
'repository':
  'comment':
    'name': 'comment.line.ignore'
    'match': '^#.*$'
  'symbols':
    'patterns': [
      {
        'name': 'markup.deleted.negate.ignore'
        'match': '(?<!^|\\\\)(!)(.*)'
        'captures':
          '1': 'name': 'constant.other.symbol.negate.ignore'
      }
      {
        'name': 'constant.other.symbol.negate.ignore'
        'match': '(?<!\\\\)!'
      }
      {
        'name': 'constant.other.symbol.asterisk.ignore'
        'match': '\\*'
      }
      {
        'name': 'constant.other.symbol.questionmark.ignore'
        'match': '\\?'
      }
      {
        'name': 'constant.separator.directory.ignore'
        'match': '/'
      }
      {
        'name': 'variable.character.escape.ignore'
        'match': '\\\\'
      }
      {
        'name': 'range.ignore'
        'match': '(\\[)([\\w-]+)(\\])'
        'captures':
          '1': 'name': 'constant.other.symbol.range.begin.ignore'
          '2': 'name': 'constant.other.symbol.range.content.ignore'
          '3': 'name': 'constant.other.symbol.range.end.ignore'
      }
    ]
  'lines':
    'patterns': [
      {
        'name': 'line.negated.ignore'
        'match': '^(!.+)$'
        'captures':
          '1':
            'name': 'markup.deleted.negate.content.ignore'
            'patterns': [
              'include': '#symbols'
            ]
      }
      {
        'name': 'line.directory.ignore'
        'match': '^(/)?(.+)(/)$'
        'captures':
          '1': 'name': 'constant.restriced.directory.ignore'
          '2':
            'name': 'string.directory.content.ignore'
            'patterns': [
              'include': '#symbols'
            ]
          '3': 'name': 'constant.character.directory.ignore'
      }
      {
        'name': 'line.file.ignore'
        'match': '^(/)?(.+)(\\.[\\w]+)?(?<!/)$'
        'captures':
          '1': 'name': 'constant.restriced.file.ignore'
          '2':
            'name': 'keyword.file.content.ignore'
            'patterns': [
              'include': '#symbols'
            ]
          '3': 'name': 'keyword.character.file.extension.ignore'
      }
    ]
