key: 'negate-symbols'

patterns: [
  name: 'markup.deleted.negate.ignore'
  match: '(?<!^|\\\\)(!)(.*)'
  captures:
    1: name: 'invalid.illegal.symbol.negate.ignore'
,
  name: 'invalid.illegal.symbol.negate.ignore'
  match: '(?<!\\\\)!'
]
